@import "@/shared/styles/mixins.pcss";
@import "@/shared/styles/media.pcss";

.content {
  flex-grow: 1;
  padding-top: 90px;

  @media (--tablet-s) {
    padding-top: 83px;
  }

  @media (--mobile) {
    padding-top: 113px;
  }
}